<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
    <link rel="stylesheet" href="/styles/resets.css" />
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/form.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
  </head>

  <body>
    <header>
      <div class="">Logo</div>
      <div class="">navigation</div>
    </header>

    <main>
      <section>
        <form class="" id="cpa-form" onsubmit="return handleSubmit(event)">
          <input
            id="url"
            type="text"
            name="input"
            value=""
            placeholder="Enter URL here"
          />
          <input
            type="submit"
            name=""
            value="submit"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return handleSubmit(event)"
          />
        </form>
      </section>

      <section>
        <strong>Form Results:</strong>
        <section>
          <strong>Form Results:</strong>
          <div id="polarity"></div>
          <div id="agreement"></div>
          <div id="subjectivity"></div>
          <div id="confidence"></div>
          <div id="irony"></div>
        </section>
      </section>
    </main>
    <footer>
      <nav class="fnav">
        <ul>
          <li>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
          <li>
            <a href="https://github.com/emiribegic" target="_blank"
              ><i class="fab fa-github-square"></i
            ></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram-square"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
          </li>
        </ul>
        <div class="copyright">© 2020</div>
      </nav>
    </footer>
  </body>
</html>
